HELP.md
Product-Service/target/
!.mvn/wrapper/maven-wrapper.jar
!Product-Service/src/main/**/target/
!Product-Service/src/test/**/target/
!Order-Service/src/main/**/target/
!Order-Service/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!Product-Service/src/main/**/build/
!Order-Service/src/main/**/build/
!Product-Service/src/test/**/build/
!Order-Service/src/test/**/build/

### VS Code ###
.vscode/
